apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../base

namespace: sam

images:
- name: nogada/employees
  newTag: v8

patchesStrategicMerge:
- deployment.yaml
- ingress.yaml

configMapGenerator:
- name: config
  behavior: replace
  files:
  - application.properties
